<div class="bg-yellow-400 border-b border-yellow-600">
	<div class="container py-4 mx-auto flex items-center justify-between">
		<div class="lg:text-xl text-lg text-black font-mono font-normal">Admin area</div>
		<div class="">
			<%= link_to "Users", admin_users_path, class: 'text-black mx-2 underline' %>
			<%= link_to "Submissions", admin_submissions_path, class: 'text-black mx-2 underline' %>
		</div>
	</div>
</div>