<h3 class="font-bold mb-4">Post to Redd</h3>
<ol class="list-none leading-loose p-0 text-sm divide-y">
	<li class="py-1">Remember to be human</li>
	<li class="py-1">Behave like you would in real life</li>
	<li class="py-1">Look for the original source of content</li>
	<li class="py-1">Search for duplicates before posting</li>
	<li class="py-1">Read the community's news</li>
</ol>