<% content_for :primary_content do %>
	<h1 class="text-xl font-semibold mb-6">New submission</h1>
	<%= render "form", submission: @submission %>
<% end %>

<% content_for :secondary_content do %>
	<%= render 'guidelines' %>
<% end %>

<%= render 'basic_layout' %>