<div class="max-w-lg my-16 mx-auto p-10 rounded-lg bg-white shadow-lg text-center">
	<h2 class="text-3xl font-bold mb-6">Successfully unsubscribed</h2>
	<%= link_to "Return to ReDD", root_path, class: 'btn btn-indigo' %>
</div>